.tablePagination button {
  border-radius: 5px;
  color: var(--text-color);
  padding: 5px 10px;
  height: 25px;
  cursor: pointer;
}

.tablePagination button:hover {
  color: var(--text-color-rev);
}
