.semestr-text {
    font-weight: 400;
    color: #ccc;
    cursor: not-allowed;
}
.semestr-text.active {
    font-weight: 500;
    color: #f0ad4e;
    cursor: pointer;
}
.semestr-box{
    box-shadow: inset 0px 0px 5px 2.5px #44f;
}