.card-counter{
    position: relative;
    box-shadow: 1px 1px 12px #333;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 1px 1px 12px #BABABA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #00a2d8;
    outline: 3px solid #0091c7;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    outline: 3px solid #de4240;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    outline: 3px solid #55aa59;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    outline: 3px solid #15b5c9;
    color: #FFF;
  }  

  .card-counter .icon{
    position: relative;
    top: -10px;
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 5vh;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }